.btn-add {
  right: 30px !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 35% !important;
  margin-right: 2px !important;
  top: 10px !important;
}

.btn-import {
  right: 40px !important;
  width: 80px !important;
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 20% !important;
  margin-right: 2px !important;
  top: 10px !important;
}
