.div-form-new {
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

.form-new {
  margin-top: 10px;
}

.panel-form {
  float: left;
  min-width: 450px;
}

.additional-fields {
  margin-left: 80%;
  width 30%
  ul {
    list-style-type none
    padding 0
    li {
      margin-left 40px
      cursor pointer
      border 1px rgba(0, 0, 0, 0.1) solid
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
      padding 5px
      margin-top 3px
      margin-bottom 3px
      border-radius 3px
      &:hover {
        margin-left 0
        margin-right 40px
      }
      &:hover:before {
        content: "\f060";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: rgb(17, 148, 246);
        font-size: 14px;
        padding-right: 0.5em;
      }
    }
  }
}

.fadein {
  opacity: 0;
  transition: opacity 1.5s;
}

#app.loaded .fadein {
  opacity: 1;
}