.filter-container {
  position: absolute;
  top: 70px;
}

.filter-panel {
  height: 47px;
  width: 130px;
  overflow: hidden;
  transition: all 0.5s ease-out 0.5s;
  &:hover {
    overflow: visible;
    height: auto;
    z-index: 1;
  }
}


