
.vgrid-container {
  margin-top: 60px;
  overflow-x: auto;
  white-space: nowrap;

  table {
    font-family: Arial, Verdana, Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    color: rgba(0, 0, 0, 0.87);
    max-width: 0;
  }
}

#data-table {
  thead {
    th {
      white-space: nowrap;
    }
  }

  .row-header {
    background: #ccc;
  }
  .col-header {
    font-weight: 400;
    padding: 2px 50px 2px 15px;
  }

  .row-odd {
    background: #eee;
  }

  .row-divider {
    border-right: #ddd 1px solid;
  }

  .data-col {
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 2px;
    &:hover {
      .btn-edit {
        display: block !important;
      }
    }
    span {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}

.btn-edit {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  border-radius: 26% !important;
  display: none !important;
  margin-right: 2px !important;
}

